body {
  padding: 30px;
}
table {
  border-collapse: collapse;
}
table,
tr,
td {
  border: 1px solid black;
}

td {
  font-size: 30px;
  height: 20px;
  width: 20px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

td:hover {
  background-color: lightblue;
}

tr > :nth-child(3) {
  border-right: 5px solid blueviolet;
}

tr > :nth-child(6) {
  border-right: 5px solid blueviolet;
}

tr:nth-child(3){
    border-block-end: 5px solid blueviolet;
}

tr:nth-child(6){
    border-block-end: 5px solid blueviolet;
}
